body {
  font: 1em sans-serif;
  padding: 0;
  margin: 0 auto;
}

p * {
  display: block;
}

input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 1px solid #333;
  margin: 0;
  font-family: inherit;
  font-size: 90%;
  box-sizing: border-box;
}

input:focus:invalid {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

#message {
  display: none;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
}

.invalid-field {
  border: solid 5px crimson;
}

.valid-field {
  border: solid 5px green;
}
